@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using NewsBlogCoreMongo.Auth
@using NewsBlogCoreMongo.ViewModels.AccountViewModels
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject UserManager<ApplicationUser> UserManager

<div class="header">
    <div class="header_top" style="margin-bottom: 15px;">
        <div class="wrap">
            <div class="header-top-left">
                <div class="logo">
                    <a asp-action="List" asp-controller="News">
                        <h1>NEWS</h1>
                        <h2>Blog</h2>
                    </a>
                </div>

                <div class="menu">
                    <ul class="menu bounce">
                        <li>
                            <a asp-action="List" asp-controller="News">@SharedLocalizer["Home"]</a>
                        </li>
                        <li>
                            <a asp-action="Demo" asp-controller="News">@SharedLocalizer["About"]</a>
                        </li>
                        <li>
                            <a asp-action="Demo" asp-controller="News">@SharedLocalizer["Support"]</a>
                        </li>
                        <li>
                            <a asp-action="Contact" asp-controller="News">@SharedLocalizer["Contact"]</a>
                        </li>
                        
                        @{
                            var a = await @UserManager.GetUserAsync(User);
                            
                            if (a != null && (await UserManager.IsInRoleAsync(a, "Administrator") || await UserManager.IsInRoleAsync(a, "Moderator")))
                            {
                                <li>
                                    <a asp-action="List" asp-controller="NewsItems">Admin Tools</a>
                                </li>
                            }                            
                           }                        
                    </ul>
                </div>
                <div class="clear"></div>
            </div>


            <div class="header-top-right">

                <div class="social-icons">
                    @{ await Html.RenderPartialAsync("_LangLinks");}

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" role="form" class="navbar-right">

                            <span style="font-weight: bold; margin-top: 20px"> </span>
                            <h5 style="display: inline">Hello, @User.Identity.Name </h5>
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sm btn-danger">Log off</a>
                            <hr>
                        </form>
                    }
                    else
                    {                       
                       
                            await Html.RenderPartialAsync("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl});
                        
                    }
                    <div class="clear"></div>


                </div>

            </div>

            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>