
@model NewsBlogCoreMongo.Models.NewsItem
@{
    var pic = "~/Content/images/NoPhoto.jpg";

/*    if (Model.Image.Any())
    {
        var image = Model.Image.FirstOrDefault();
        var imagePath = Path.Combine(Server.MapPath(uploadDir), image.Id + image.Extension);

      
        if (System.IO.File.Exists(imagePath))
        {
            pic = uploadDir + image.Id + image.Extension;
        }


    }*/
}

<div class="box1">
    @*<h3 style="font-weight:bolder">@Html.ActionLink(@Model.Headline, "Details", new { id = @Model.Id })</h3>*@
    <span style="font-size:smaller">@Model.CreatedAtUtc.ToShortDateString()</span>
    <br>
    <div class="view">

        @*<a href="@Url.Action("Details",new { id = @Model.Id })"><img src="@Url.Content(@pic)" alt="picture" /></a>*@

    </div>
    <div class="data">
        <p>
        @*@Model.Body...  <p><span style="font-size: 13px">@Html.ActionLink("Continue reading >>>", "Details", new { id = @Model.Id })</span></p>*@
        <p>
    </div>
    <div class="clear"></div>
</div>