@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MongoBlog.SharedResources> SharedLocalizer

@model NewsBlogCoreMongo.Models.AccountViewModels.LoginViewModel

<div class="wrap_login">
    <div class="main">
        <div class="contact-form">
            <h3>@SharedLocalizer["SignIn"]</h3>

            <section id="loginForm">

                <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" method="post" class="form" role="form">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="help-block with-errors"></div>
                    </div>


                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="help-block with-errors"></div>
                    </div>


                    <div class="form-group">

                        <input type="submit" value=@SharedLocalizer["LoginBtn"] style="position: relative"/>
                        <p>
                            <span>
                                @SharedLocalizer["OR"]
                                <a asp-controller="Account" asp-action="Register">@SharedLocalizer["Register"]</a>
                            </span>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <p>
        <a asp-controller="Account" asp-action="ForgotPassword">@SharedLocalizer["Forgot"]</a>
    </p>
</div>


@section Scripts {
    <script src="/bundles/jqval.js"></script>
}


