@{
    ViewBag.Title = @Resources.Resource.ResetPasswordConfirmation;
}

<div class="wrap_login">
    <div class="main">
        <div class="contact-form">
            <hgroup class="title">
                <h3>@ViewBag.Title.</h3>
            </hgroup>
            <div>
                <p>
                    @Resources.Resource.YourPasswordReset @Resources.Resource.Please @Html.ActionLink(@Resources.Resource.ClickHere, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>