@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    ViewBag.Title = @SharedLocalizer["ResetPasswordConfirmation"];
}

<div class="wrap_login">
    <div class="main">
        <div class="contact-form">
            <hgroup class="title">
                <h3>@ViewBag.Title.</h3>
            </hgroup>
            <div>
                <p>
                    @SharedLocalizer["YourPasswordReset"] @SharedLocalizer["Please"] <a asp-controller="Account" asp-action="Login" id="loginLink">@SharedLocalizer["ClickHere"]</a>
                </p>
            </div>
        </div>
    </div>
</div>