@model NewsBlogCoreMongo.Models.NewsItemViewModel

<div class="box1">
    <h3 style="font-weight: bolder"><a asp-controller="News" asp-action="Details" asp-route-id="@Model.newsItem.Id">@Model.newsItem.Headline</a>
        </h3>
    <span style="font-size: smaller">@Model.newsItem.CreatedAtUtc.ToShortDateString()</span>
    <br>
    <div class="view">

        <a asp-controller="News" asp-action="Details" asp-route-id="@Model.newsItem.Id">
            <image-link model="@Model"></image-link>
        </a>

    </div>
    <div class="data">
        <p>
        @Model.newsItem.Body...
        <p>
            <span style="font-size: 13px">
                <a asp-controller="News" asp-action="Details" asp-route-id="@Model.newsItem.Id">Continue reading >>></a>
            </span>
        </p>
        <p>
    </div>
    <div class="clear"></div>
</div>