@model IEnumerable<NewsBlogCoreMongo.Models.NewsCategory>

<hr>
<p class="btn btn-create-new">
    @Html.ActionLink("Create New + ", "Create", null, new { @class = "btn btn-success btn-md" })
</p>

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-condensed table-hover brd">
            <tr>
                <th style="text-align: center;">
                    <span style="font-weight: bold"> @Html.DisplayNameFor(model => model.Name)</span>
                </th>
                <th style="text-align: center;"><span style="font-weight: bold">Actions</span></th>
            </tr>

            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => category.Name)
                    </td>
                    <td style="text-align: center">
                        <span class="btn-create-new">
                            @Html.ActionLink("Edit", "Edit", new { id = category.Id }, new { @class = "btn btn-primary btn-sm" })
                        </span>
                        <span>
                            @Html.ActionLink("Delete", "Delete", new { id = category.Id }, new { @class = "btn btn-danger btn-sm" })
                        </span>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>