@model IEnumerable<NewsBlogCoreMongo.ViewModels.NewsItemViewModel>

@{
    Layout = null;
}

<hr>
<p class="btn-create-new">
    <a asp-controller="NewsItems" asp-action="Create" class="btn btn-success btn-md">Create New + </a>
</p>

<table class="table table-bordered table-condensed table-hover brd">
    <tr>

        <th>
            <span style="font-weight: bold"> @Html.DisplayNameFor(model => model.newsItem.Body)</span>
        </th>
        <th>
            <span style="font-weight: bold">@Html.DisplayNameFor(model => model.newsItem.CreatedAtUtc)</span>
        </th>
        <th>
            <span style="font-weight: bold">Actions</span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var resizedBody = item.newsItem.Body.Split(' ').Take(150);
        item.newsItem.Body = string.Join(" ", resizedBody);
        <tr>
            <td>
                <span style="font-weight: bolder">@item.newsItem.Headline</span>
                <hr>
                @item.newsItem.Body;
                <hr/>
                <image-link model="@item" style-attribute="width: 120px; height: 100px; margin-right: 5px"></image-link>             
            </td>
            <td>
                <label>@item.newsItem.CreatedAtUtc</label>
            </td>
            <td>
                <p class="btn-create-new">
                    <a asp-controller="NewsItems" asp-action="Edit" asp-route-id="@item.newsItem.Id" class="btn btn-primary btn-sm">Edit</a>
                </p>
                <a asp-controller="NewsItems" asp-action="Delete" asp-route-id="@item.newsItem.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }

</table>

<div class="clear"></div>
<div class="page_bottom">
    <p>Back To : <a href="#">Top</a> | <a href="News/List">Home</a></p>
</div>  