@model NewsBlogCoreMongo.Auth.ApplicationUser

@if (ViewData["message"] != null)
{
    <div class="alert alert-success">@ViewData["message"]</div>
}

<div asp-validation-summary="All" class="text-danger"></div>

<div class="wrap">
    <div class="main">
        <div class="section group">
            <div class="col span_2_of_3">

                <div class="contact-form">
                    <h3>Edit @Model.UserName Profile</h3>
                   
                    <form asp-controller="Manage" asp-action="Update" method="post" role="form">
                                      
                        <input type="hidden" asp-for="@Model.Id"/>
                        <div class="row">
                            <h4><label asp-for="@Model.UserName"></label></h4>                           
                            <span style="font-size: medium"><input asp-for="@Model.UserName"/></span>
                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <h4><label asp-for="@Model.Email"></label></h4> 
                            <span style="font-size: medium"><input asp-for="@Model.Email"/></span>
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <span><input type="submit" style="position: relative" value="Update"></span>
                        </div>

                    </form>


                    <hr>
                    <h3>Change Password</h3>
                    <form asp-controller="Manage" asp-action="ChangePassword" method="post" role="form">

                        <input type="hidden" asp-for="@Model.Id"/>

                        <div class="row">
                            <h4><label for="oldpassword">Old Password</label></h4>
                            <input style="font-size: medium" id="oldpassword" name="oldpassword" type="password" class="form-control">
                        </div>

                        <div class="row">
                            <h4><label for="newpassword">New Password</label></h4>
                            <input style="font-size: medium" id="newpassword" name="newpassword" type="password" class="form-control">
                        </div>


                        <div class="form-group">
                            <span><input type="submit" style="position: relative" value="Change password"></span>
                        </div>
                    </form>


                    <hr>
                    <h3>Roles</h3>
                    <h5>Current role: @ViewBag.CurrentRole</h5>
                    
                    <form asp-controller="Manage" asp-action="UpdateUsersRole" method="post" role="form">
                                        
                    <input type="hidden" asp-for="@Model.Id"/>


                        <div class="row">
                            <div class="col-md-3" style="padding: 0px;">                     
                                @Html.DropDownList("role", (SelectList)ViewBag.Roles, new { @class = "form-control", style = "background-color: inherit" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span><input type="submit" style="position: relative" value="Change role"></span>
                        </div>
                    </form>

                    <div class="clear"></div>
                    <span style="font-size: 13px;"><a asp-controller="NewsItems" asp-action="List" style="color: #EB7F1A"><<< Back to List</a>
                        </span>

                </div>
            </div>
        </div>
    </div>
</div>

