@model NewsBlogCoreMongo.Models.NewsItemViewModel

@{
   
    var resizedBody = @Model.newsItem.Body.Split(' ').Take(150);
    Model.newsItem.Body = string.Join(" ", resizedBody);
}



<h3 style="color: crimson">Are you sure you want to delete this?</h3>
<div>

    <table class="table table-bordered table-condensed table-hover brd">


        <tr>

            <td>
                <span style="font-weight: bolder"> @Html.DisplayFor(modelItem => @Model.newsItem.Headline)</span>
                <hr>
                @Model.newsItem.Body.ToString();
                <hr>

                @if (@Model.newsItem.Images != null && @Model.newsItem.Images.Any())
                {
                    foreach (var image in @Model.newsItem.Images)
                    {
                        var imagePath = System.IO.Path.Combine(@Model.uploadsFolder, image.Id + image.Extension);
                        var fullImagePath = @Model.wwwRootPath + imagePath;

                        if (System.IO.File.Exists(fullImagePath))
                        {
                            var pic = "~" + imagePath;
                            <img src="@Url.Content(@pic)" alt="picture" style="width: 120px; height: 100px;" />
                        }

                    }
                    
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.newsItem.CreatedAtUtc)
            </td>
            <td>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" style="float: inherit" />
                    </div>
                }
            </td>
        </tr>


    </table>

   


    <div class="clear"></div>
    <span style="font-size: 13px;">@Html.ActionLink("<<< Back to List", "List", null, new { style = "color: #EB7F1A" })</span>



</div>
