@model IEnumerable<NewsBlogCoreMongo.Models.NewsItemViewModel>

@{
    Layout = "_AdminLayout";
}

<hr>
<p class="btn-create-new">
    @Html.ActionLink("Create New + ", "Create", "NewsItems", null, new { @class = "btn btn-success btn-md" })
</p>

<table class="table table-bordered table-condensed table-hover brd">
    <tr>
        
        <th>
            <span style="font-weight: bold"> @Html.DisplayNameFor(model => model.newsItem.Body)</span>
        </th>
        <th>
            <span style="font-weight: bold">@Html.DisplayNameFor(model => model.newsItem.CreatedAtUtc)</span>
        </th>
        <th>
            <span style="font-weight: bold">Actions</span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var pic = System.IO.Path.Combine(item.uploadsFolder, item.blankImageName);
        
        var resizedBody = item.newsItem.Body.Split(' ').Take(150);
        item.newsItem.Body = string.Join(" ", resizedBody);
        <tr>
           
            <td>
               <span style="font-weight: bolder"> @Html.DisplayFor(modelItem => item.newsItem.Headline)</span>
                   <hr>
                @item.newsItem.Body.ToString();
                <hr>

                
                @if (item.newsItem.Images != null && item.newsItem.Images.Any())
                {
                
                    foreach (var image in item.newsItem.Images)
                    {
                        var imagePath = System.IO.Path.Combine(item.uploadsFolder, image.FileId + image.Extension);
                        var fullImagePath = item.wwwRootPath + imagePath;

                        if (System.IO.File.Exists(fullImagePath))
                        {
                            pic = "~" + imagePath;
                            <img src="@Url.Content(@pic)" alt="picture" style="width: 120px; height: 100px;" />
                        }

                    }
                    
                }

</td>
            <td>
                @Html.DisplayFor(modelItem => item.newsItem.CreatedAtUtc)
            </td>
            <td>
                <p class="btn-create-new">
                    @Html.ActionLink("Edit", "Edit", new { id = item.newsItem.Id }, new { @class = "btn btn-primary btn-sm" })
                </p>
                @Html.ActionLink("Delete", "Delete", new { id = item.newsItem.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>

<div class="clear"></div>
<div class="page_bottom">
    <p>Back To : <a href="#">Top</a> |  <a href="News/List">Home</a></p>
</div>  