@model NewsBlogCoreMongo.Models.NewsItemViewModel


<h3>@Model.newsItem.Headline</h3>
<span>Created: @Model.newsItem.CreatedAtUtc.ToShortDateString()</span>

@{
    var pic = System.IO.Path.Combine(Model.uploadsFolder, Model.blankImageName);
    if (Model.newsItem.Images.Any())
    {
        <ul class="bxslider">

            @foreach (var image in @Model.newsItem.Images)
            {

                var imagePath = System.IO.Path.Combine(Model.uploadsFolder, image.FileId + image.Extension);
                var fullImagePath = Model.wwwRootPath + imagePath;
                
                if (System.IO.File.Exists(fullImagePath))
                {
                    pic = imagePath;
                    <li>
                        <img src="~@pic" alt="picture"  asp-append-version="true"/>
                    </li>
                }
            }
        </ul>
    }
    else
    {
        <ul>
            <li>
            <img src="~@pic" alt="picture" />
            <li>
        </ul>
    }

}

<div class="box1">
    <div class="data">
        <p>@Model.newsItem.Body</p>
    </div>
    <div class="clear"></div>
    <span style="font-size: 13px;">@Html.ActionLink("<<< Back to News", "List", null, new { style = "color: #EB7F1A" })</span>
</div>


@section scripts{

    <script src="~/lib/bxsliderHelper.js"></script>
}
